# Data Assignment - Digital Nova Scotia

## Data visualization and insights from Movies and TV Shows form Netflix
### Jose Ancona Segovia

### Part 1

#### 1.1 Data loading

In [1]:
import pandas as pd

The report presents data visualization and insights from the file `movies_shows.csv`, which contains the data from Netfliz content. The first part of the process is to load and present the data as a Dataframe. To do this, the Panda library allows to load the data directly from the CSV file to a dataframe. 

In order to visualize the first five rows, the function `head()` allows to retrieve the number of rows desired. It will return by default the first 5 rows.

In [2]:
# Load file
file = 'movies_shows.csv'

df = pd.read_csv(file)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#### 1.2 Data description

Pandas allows to identify the data type of each column of the dataframe, facilitating the analysis. `info()` allows to retrieve the datatype according to each column and the number of non-null values.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
df.count()

show_id         8807
type            8807
title           8807
director        6173
cast            7982
country         7976
date_added      8797
release_year    8807
rating          8803
duration        8804
listed_in       8807
description     8807
dtype: int64

In [11]:
df_na = pd.DataFrame((df.isna().sum()),columns=['NaN'])
z = len(df.index)
percentage_list = list(map(lambda x:round((x*100/z),2),df_na['NaN'].to_list()))
df_na['%']=percentage_list
df_na

               NaN      %
show_id          0   0.00
type             0   0.00
title            0   0.00
director      2634  29.91
cast           825   9.37
country        831   9.44
date_added      10   0.11
release_year     0   0.00
rating           4   0.05
duration         3   0.03
listed_in        0   0.00
description      0   0.00

In [ ]:
2634/z

0.29908027705234475