In [2]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

### One Hot encoding

In [3]:
# creating dataframe

phone_df = pd.DataFrame([
            ['Phone 1','Blue',2018,500],
            ['Phone 2','Black',2016,450],
            ['Phone 3','Blue',2017,600],
            ['Phone 4','Grey',2018,800],
        ])

phone_df.columns = ['Phone','Color','Year','Price']

In [4]:
# create dataframe
phone_df

     Phone  Color  Year  Price
0  Phone 1   Blue  2018    500
1  Phone 2  Black  2016    450
2  Phone 3   Blue  2017    600
3  Phone 4   Grey  2018    800