In [2]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

### One Hot encoding

In [3]:
# creating dataframe

phone_df = pd.DataFrame([
            ['Phone 1','Blue',2018,500],
            ['Phone 2','Black',2016,450],
            ['Phone 3','Blue',2017,600],
            ['Phone 4','Grey',2018,800],
        ])

phone_df.columns = ['Phone','Color','Year','Price']

In [4]:
# create dataframe
phone_df

     Phone  Color  Year  Price
0  Phone 1   Blue  2018    500
1  Phone 2  Black  2016    450
2  Phone 3   Blue  2017    600
3  Phone 4   Grey  2018    800

In [5]:
# import label encoder

from sklearn.preprocessing import LabelEncoder

le_phone = LabelEncoder()
le_color = LabelEncoder()

In [6]:
# Label encoding the categorical features

phone_df['Phone_enc'] = le_phone.fit_transform(phone_df['Phone'])
phone_df['color_enc'] = le_color.fit_transform(phone_df['Color'])

In [7]:
# After encoding
phone_df

     Phone  Color  Year  Price  Phone_enc  color_enc
0  Phone 1   Blue  2018    500          0          1
1  Phone 2  Black  2016    450          1          0
2  Phone 3   Blue  2017    600          2          1
3  Phone 4   Grey  2018    800          3          2

In [8]:
# One hot encoding

from sklearn.preprocessing import OneHotEncoder


phone_ohe = OneHotEncoder()
color_ohe = OneHotEncoder()

phone_ohe=phone_ohe.fit_transform(phone_df['Phone_enc'].values.reshape(-1,1)).toarray()
color_ohe=color_ohe.fit_transform(phone_df['color_enc'].values.reshape(-1,1)).toarray()

In [10]:
phone_ohe

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [11]:
# adding the ohe'd feature back to the original dataset

phone_df_ohe = pd.DataFrame(phone_ohe, columns=['Phone_'+str(int(i)) for i in range(phone_ohe.shape[1])])
phone_df = pd.concat([phone_df,phone_df_ohe],axis=1)

In [12]:
phone_df

,Phone,Color,Year,Price,Phone_enc,color_enc,Phone_0,Phone_1,Phone_2,Phone_3
0,Phone 1,Blue,2018,500,0,1,1.0,0.0,0.0,0.0
1,Phone 2,Black,2016,450,1,0,0.0,1.0,0.0,0.0
2,Phone 3,Blue,2017,600,2,1,0.0,0.0,1.0,0.0
3,Phone 4,Grey,2018,800,3,2,0.0,0.0,0.0,1.0

In [13]:
color_df_ohe = pd.DataFrame(color_ohe, columns=['color_'+str(int(i)) for i in range(color_ohe.shape[1])])
phone_df = pd.concat([phone_df,color_df_ohe],axis=1)
phone_df

,Phone,Color,Year,Price,Phone_enc,color_enc,Phone_0,Phone_1,Phone_2,Phone_3,color_0,color_1,color_2
0,Phone 1,Blue,2018,500,0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Phone 2,Black,2016,450,1,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,Phone 3,Blue,2017,600,2,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,Phone 4,Grey,2018,800,3,2,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [15]:
phone_df.drop(['Phone','Color','Phone_enc','color_enc'],axis=1)

   Year  Price  Phone_0  Phone_1  Phone_2  Phone_3  color_0  color_1  color_2
0  2018    500      1.0      0.0      0.0      0.0      0.0      1.0      0.0
1  2016    450      0.0      1.0      0.0      0.0      1.0      0.0      0.0
2  2017    600      0.0      0.0      1.0      0.0      0.0      1.0      0.0
3  2018    800      0.0      0.0      0.0      1.0      0.0      0.0      1.0